@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.landing-container {
    background: #105057;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 45px;
    position: relative;
    overflow: hidden;
}

.landing-container h1 {
    color: #f1d7e8;
    font-size: 6rem;
    letter-spacing: 5px;
    font-family: "BBH Sans Hegarty", sans-serif;
    z-index: 2;
}

.lembrancas {
    text-decoration: none;
    background-color: #fa83ce;
    color: #fcfcfc;
    padding: 15px 30px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
    transition: all 0.3s;
    z-index: 2;
}

.lembrancas:hover {
    transform: scale(1.05);
    background-color: #f1d7e8;
    color: #105070;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.decorations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.decorations span {
    position: absolute;
    display: block;
    user-select: none;
}

.heart {
    width: 100%;
    height: 100%;
    background-color: #FF81D0;
    transform: rotate(-45deg);
    animation: pulse 2s infinite ease-in-out;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FF81D0;
    border-radius: 50%;
}

.heart::before {
    top: -50%;
    left: 0;
}

.heart::after {
    top: 0;
    left: 50%;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.1) rotate(-45deg);
    }
}

.star {
    background-color: white;
    border-radius: 50%;
    animation: twinkle 3s infinite;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.8;
    }
}

.h1 { top: 15%; left: 20%; width: 25px; height: 25px; }
.h2 { top: 70%; left: 80%; width: 15px; height: 15px; animation-delay: 0.5s; }
.h3 { top: 85%; left: 10%; width: 20px; height: 20px; animation-delay: 1s; }
.s1 { top: 25%; left: 85%; width: 3px; height: 3px; }
.s2 { top: 50%; left: 15%; width: 2px; height: 2px; animation-delay: 1.5s; }
.s3 { top: 84%; left: 46%; width: 4px; height: 4px; animation-delay: 0.8s; }
.s4 { top: 10%; left: 55%; width: 2px; height: 2px; animation-delay: 2s; }