index.css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root {
    height: 100%;
}

#root {
    min-height: 100vh;
    background-color: #105070;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #f0f0f0;
}

#root > main.content {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}